.block__confirm {
  box-sizing: border-box;
  position: absolute;
  top: -310px;
  width: -webkit-fill-available;
}

.space {
  height: 1080px;
}

.confirm__panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  height: 1110px;
  box-shadow: 0 1px 5px #00000075;
}

.confirm__panel__header > h4 {
  margin: 0;
}

.confirm__panel__header, .confirm__panel__footer {
  display: flex;
  justify-content: space-between;
  padding: 65px 55px;
}

.overview__panel {
  padding: 205px 55px;
}

.confirm__panel__footer {
  background-color: #FFA800;
}