.train {
  display: grid;
  grid-template-columns: 195px 480px 285px;
  border: 1px solid #c4c4c4;
}

.train__main {
  box-shadow: 0 4px 4px #00000040;
  margin-bottom: 45px;
}

.train__main:hover {
  border: 1px solid #FFA800;
}

.price {
  font-size: 14px;
  align-items: baseline;
  gap: 10px;
}

.offers {
  width: 960px;
}

.offers__header {
  justify-content: space-between;
}

.filters {
  gap: 145px;
}

.select__number, .select__time {
  gap: 7px;
}



.train__type {
  width: 200px;
  background-color: #e4e0e9;
  flex-shrink: 0;
  padding: 0 23px;
}

.train__icon {
  margin: 55px auto 20px auto;
  height: 90px;
  width: 90px;
  border: 2px solid white;
  border-radius: 50%;
}

.train__icon::after {
  content: url(../../assets/icons/train.png);
}

.direction__full {
  margin-bottom: 35px;
}

.directions {
  border-right: 1px dotted #e8e8e8;
  padding: 0 40px;
}

.direction {
  display: grid;
  grid-template-columns: 115px max-content 115px;
  gap: 35px;
  margin: 52px 0 67px 0;
}

.additional {
  justify-content: start;
}

.vagonTypes {
  padding: 41px 27px 0 27px;
  flex-direction: column;
  justify-content: space-between;
}

.vagons {
  margin: 0;
}

.vagon__desc {
  display: grid;
  grid-template-columns: 75px auto auto;
  line-height: 24px;
  gap: 18px;
  margin-bottom: 35px;
}

.vagonTypes button {
  margin-bottom: 20px;
}

.nothingFound {
  margin-top: 50px;
}