.offers__passengers {
  margin: 0;
}

.psg {
  margin-bottom: 45px;
}

.passenger__form__wrapper, .add__passenger {
  padding: 35px;
}

.panel__standart span {
  font-size: 14px;
  color: #c4c4c4;
  user-select: none;
}

.button__round, .button__round__orange {
  background-color: #ffffff00;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 20px;
}

.button__round {
  border: 1px solid #c4c4c4;
  color: #c4c4c4;
} 

.button__round__orange {
  border: 1px solid #FFA800;
  color: #FFA800;
}

.minimized {
  display: none;
}

.passport__form__wrapper {
  padding: 40px;
}

.passenger__form {
  flex-direction: column;
  gap: 50px;
}

.form__label {
  width: 280px;
}

.form__label select, .passenger__input {
  width: 100%;
}

.additions, .passport {
  gap: 35px;
}

.additions .form__label, .passport .form__label {
  width: 200px;
}

.passenger__input, #documentType {
  margin-top: 15px;
}

.form__label__long {
  width: 445px;
}

.passenger__input {
  padding: 15px;
  font-size: 18px;
  border-radius: 3px;
  border: 1px solid #928f94;
}

.gender button {
  background-color: #ffffff00;
}

.gender button.active {
  background-color: #FFA800;
}

.gender__male {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.gender__female {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.disability {
  margin-bottom: 35px;
}

.add__passenger__btn {
  color: #FFA800;
  border: 0;
  background-color: #ffffff00;
}