header {
  position: relative;
}

.block__intro, .calendarHeader, .progressCells, .cellNumber {
  display: flex;
  justify-content: space-between;
}

.introImg, .mainImg {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #FFFFFF;
}

.introImg {
  height: 985px;
  background-color: #9B6909;
  border-bottom: 8px solid #FFA800;
}

.mainImg {
  height: 590px;
  background-color: #000000;
}

.panelWrapper {
  width: 100%;
  height: 100%;
}

.block__intro {
  height: 570px;
  align-items: center;
}

.headerPanel {
  height: 94px;
  background-color: #292929;
}

.headerMenu {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 165px;
}

.menuItem {
  font-weight: 300;
  font-size: 30px;
  color: #E5E5E5;
}

.slogan {
  margin-right: 150px;
  font-size: 72px;
}

.headerForm {
  display: flex;
  flex-direction: column;
  background-color: rgba(41, 41, 41, 0.8);
}

.headerForm__normal {
  padding: 85px 20px 50px 20px;
  width: 690px;
}

.headerForm__slim {
  padding: 35px 42px 75px 42px;
}

.formWrapper__slim {
  display: flex;
  gap: 35px;
}

.form__row {
  margin: 20px 0 65px 0;
  align-items: center;
  gap: 6px;
}

.form__row__slim {
  gap: 35px;
}

.row__second {
  position: relative;
  z-index: 0;
}

.inputWrapper {
  position: relative;
}

.input, .form__submit {
  width: 305px;
  height: 40px;
  padding: 10px;
  border: 0;
}

.change {
  width: 24px;
  height: 24px;
  content: url('../../../assets/icons/ic_cached_white_48dp.png');
}

.form__submit {
  align-self: flex-end;
  background-color: #FFA800;
  width: 325px;
  height: 60px;
  text-transform: uppercase;
}

.first, .second {
  position: relative;
}

.calendarWrapper {
  position: absolute;
  top: 80px;
  left: -25px;
  box-shadow: 5px 5px 10px rgba(41, 41, 41, 0.2);
  z-index: 1;
}

.calendarArrow {
  position: absolute;
  top: -14px;
  left: calc(50% - 15px);
  transform: rotate(45deg);
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
}

.calendar {
  font-family: 'Verdana';
  width: 332px;
  padding: 20px;
  background-color: #FFFFFF;
  color: #292929;
  border-radius: 3px;
}

.calendarHeader {
  margin-bottom: 10px;
  text-transform: capitalize;
}

.calendarGrid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(7, 1fr);
}

.cell {
  text-align: center;
  cursor: pointer;
}

.active {
  background-color: #FFA800;
  border: 1px solid #FFA800;
  border-radius: 3px;
}

.cityOptions {
  width: 305px;
  padding: 10px;
  position: absolute;
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 3px;
  top: 70px;
  z-index: 1;
}

.progressBar {
  position: relative;
  z-index: -1;
  height: 100px;
  background-color: #3e3c41;
  color: #FFFFFF;
}

.margin {
  width: 258px;
}

.cellWrapper {
  display: flex;
  justify-content: flex-end;
}

.progressCells {
  height: inherit;
  justify-content: space-evenly;
}

.progressCell {
  display: flex;
  width: 100%;
}

.progressCell, .cellNumber, .cellText {
  align-items: center;
}

.cellNumber {
  justify-content: center;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  height: 58px;
  width: 58px;
  margin: 0 25px;
}

.cellText {
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.arrowWrapper {
  margin-left: -50px;
  z-index: 0;
}

.progressArrow {
  width: 100px;
  height: 100px;
  transform: scale(0.5, 0.7) rotate(45deg);
  border-right: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
}